.u-section-1 {
  background-image: url("images/503619b3bf188965de79c8105ae96575ee60c2219885299179de3ba556816e83f9ed30887c26207567c86ebf3a570273754042893632bfe7e7081a_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 485px;
}

.u-section-1 .u-table-1 {
  width: 891px;
  margin: 80px auto;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-body-1 {
  background-image: none;
}

.u-block-3d5f-35 {
  background-image: none;
}

@media (max-width: 991px) {
  .u-section-1 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    width: 340px;
  }
}